/* You can add global styles to this file, and also import other style files */
@import "@fontsource/raleway/300.css";
@import "@fontsource/raleway/400.css";
@import "@fontsource/raleway/500.css";
@import "@fontsource/raleway/600.css";
@import "@fontsource/raleway/700.css";

body {
  font-family: 'Raleway', sans-serif;
  font-variant-numeric: lining-nums;
  margin: 0;
  padding: 0;
}
